@model StationeryMVC.Models.Quotation

<h2>Create Quotation</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Customer Name</label>
        <input type="text" name="customerName" class="form-control" required />
    </div>

    <h4>Select Items</h4>
    <div class="row">
        @for (int i = 0; i < ViewBag.Items.Count; i++)
        {
            <div class="col-md-4 mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="itemIds" value="@ViewBag.Items[i].Id" id="item_@i" />
                    <label class="form-check-label" for="item_@i">
                        @ViewBag.Items[i].Name (@ViewBag.Items[i].Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-ZA")))
                    </label>
                    <input type="number" name="quantities" min="1" value="1" class="form-control mt-1" />
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Generate Quotation</button>
</form>
